# ======================
# Dependencies
# ======================
**/node_modules/

# ======================
# Environment Variables
# ======================
**/.env
**/.env.*
!**/.env.example

# ======================
# Next.js
# ======================
frontend/.next/
frontend/out/

# ======================
# Backend uploads
# ======================
backend/uploads/

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# Build
# ======================
dist/
build/
coverage/

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db